
{% extends 'main.html' %}

{% load static %}
    {% block content %}

   <style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 3fr;
    }

   </style>

   <img src = "{% static 'images/log.png' %}" alt="LoginIMG" >  

    {% comment %} <div class = "home-container">
        
        {% comment %} <div>
            <h3> Browse Topics </h3>
            <hr>

            {% comment %} {% for topic in topics%}
            <div>
                <a >{{topic}}
            </div>

            {%end for%} 
        </div>     



        <div>

             <a href="{% url 'create-book' %}"> Create Book </a>      

        <div>

            {% for book in books %}
            <div>  
                <a href = "{% url 'update-book' book.id %}">Edit</a>

                <a href = "{% url 'delete-book' book.id %}">Delete</a>
                             
                <span>@{{book.host.username}}</span>
                <h5>{{book.id}} --> <a href="{% url 'books' book.id %}">{{book.name}}</h5>

                   
                    <small>{{book.topic.name}}</small>
                     <!-- breakline--> 
                    <hr>

            </div>

            {% endfor %}
        </div>



        </div>

       
    </div> {% endcomment %}

    {% endblock content %}

